
fieldset {
	font-family: sans-serif;
	overflow: auto;
	width :200px;
	border: 1px solid #ddd;
}

#btnInsert
{
	background-color: white;
	color: Blue;
	border: rounded;
	border-color: DodgerBlue;
	aligment: center;
	width: 100%;
}
#btnfiltrar
{
	background-color: white;
	color: Blue;
	border: rounded;
	border-color: DodgerBlue;
	aligment: center;
}
td, th{
	
	padding: 12px;
  	text-align: left;
  	margin-collapse: collapse;
  	border-bottom: 1px solid #ddd;
}
#tb_lib
{
	
	font-family: sans-serif;	
}


#legend_fs
{
	text-align: center;
}
#isbn,#titulo,#categoria,#autor
{
	width: 100%;
  	border-color: DodgerBlue;
  	
}
